SRP Record Issue: SRV (A part of SRP record) is not aligned with the rfc2782

While we were going through the network packet captures during the DuckHorn (OpenThread 1.3) test script (Test Harness) development we found an issue with the Wireshark Analysis. In the MDNS standard query response in SRV RR the protocol is coming as '_duckhorn-test'. But '_duckhorn-test' is not a protocol.

![Wireshark Analysis of the PCAP](https://user-images.githubusercontent.com/103411752/162699517-a1a6e787-0fba-4f51-8133-8dbb86b69c76.png)

On further checking found that in the SRV RR the second parameter (parameter after first dot and before second dot) should be the protocol as per the rfc2782 https://www.rfc-editor.org/rfc/pdfrfc/rfc2782.txt.pdf . 

![SRV_RR in RFC](https://user-images.githubusercontent.com/103411752/162700779-d9de4bea-c620-4345-98cf-36b2a1427bf1.png)

But in the SRV Server (OTBR) the record is not as it is. Here the protocol (tcp/udp) is the third parameter (parameter after second dot and before third dot). The second parameter is '_duckhorn-test'.

![SRV record in OTBR Server](https://user-images.githubusercontent.com/103411752/162701492-e64578f6-59f0-46e5-96d2-8b6c68e9f271.png)


The Syslog of OTBR for the same also attached for ready reference. 

![Syslog](https://user-images.githubusercontent.com/103411752/162702950-e16ee8a3-844c-4b2c-a448-12756c0b75c8.png)

As of now it doesn't create any blocker for the Test Case development. But it looks like some quality issue and hence we are reporting the same.


@shouvik-grl , thanks for raising this issue.

Can you provide more detail on how `service-test-1` and `_duckhorn-test` are configured in OpenThread?

For reference, the Service Name Syntax rules are specified in [RFC 6335 Section 5.1](https://datatracker.ietf.org/doc/html/rfc6335#section-5.1).

@shouvik-grl 

Have we got the Pcap for the mDNS message ? 

The logs all look good. So I wonder if it's actually a wireshark issue. 

Dear @jwhui  and @simonlingoogle 
Thanks for your prompt response.

@jwhui  The details and commands on how the _'service-test-1'_ and '__duckhorn-test_' are configured in OpenThread are as below

![Client Side SRP registration in OT](https://user-images.githubusercontent.com/103411752/162901883-cce2da94-98a5-4def-98e1-37d0f4c442f1.png)


The server side record looks like


![Server Side SRP Record](https://user-images.githubusercontent.com/103411752/162901971-ac190a38-9951-4e1b-95ed-beed07422153.png)



@simonlingoogle Yes we have the PCAP file. In the attached PCAP please refer to Packet No. 77, 78, 80.
[SRV Record PCAP.zip](https://github.com/openthread/ot-reference-release/files/8470414/SRV.Record.PCAP.zip)



Take packet 77 for an example:

The DNS name of SRV RR is compressed that it refers to the DNS name in the TXT RR. 

And the DNS name in TXT RR is correct. 

So, I believe this is an wireshark issue. 

Thoughts? @jwhui @shouvik-grl 

I agree with @simonlingoogle , this appears to be a Wireshark issue.

The SRV record should have the form `<Instance>.<Service>.<Domain>`. In this case:
- Instance: service-test-1
- Service: _duckhorn-test._udp
- Domain: local

@jwhui @simonlingoogle 
Yes, it could be a wireshark issue. If so, i think it is a issue in legacy wireshark code as SRP has nothing to do with Thread specific wireshark code. 

Just for my clarification, I see in RFC2782 Page 2 SRV record has three sections. `_Service._Proto.Name`

1. Service
2. Protocol
3. Name

Additionally, what we see in Wireshark is matching with one of the format mentioned Thread Spec chapter 8.4.1.1.2 


I think RFC6763 defines the name in SRV record in the form of `"<Instance>.<Service>.<Domain>"`.
So, maybe wireshark is still sticking to RFC2782, but is not inline with RFC6763.

Thoughts?

Thanks @simonlingoogle for the clarification.

Yes it is looking like a Legacy issue in the Wireshark. 
The issue is seen in the Wireshark3.6.3 (Released On: March 23, 2022) also.

Hence, Closing the Issue ticket.

Again thanks @jwhui  and @simonlingoogle  for helping to understand.